/*----------------------------------------------------------------------------
                          Mobile Design First / Fallback
------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
