/*----------------------------------------------------------------------------
                          Mobile Design First / Fallback
------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

body {
    background: url("/images/greek-vase.png");
}

header {
    height: 4rem;
    text-align: center;
    padding: 0.5rem;
}

h1 {
    font-family: 'Trade Winds', cursive;
}
section {
    padding: 1rem;
}
 ul {
     text-align: left;
     padding: 1rem;
 }
